@import '/src/components/00.Globals/variables.scss';
@import '/src/components/00.Globals/breakpoints.scss';

.listItem {
  margin-bottom: 2em;
  list-style: none;
  position: relative;

  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-backdrop);
}

.dot {
  background-color: var(--color-menu);
  width: 12px;
  height: 12px;
  position: absolute;
  left: -29px;
  top: 1.35em;
  border-radius: 50%;
  z-index: 1;

  @include md {
    left: -21px;
  }
}

.position {
  font-weight: 600;
  font-size: 1.15em;
  margin-bottom: .25rem;
}

.employer {
  font-weight: 400;
  margin-bottom: .25rem;
  display: inline-block;
  margin-right: .5em;
}

.timeline {
  font-style: italic;
  display: inline-block;
  font-weight: 300;

  &:before {
    content: '(';
  }

  &:after {
    contenT: ')';
  }
}

.type {
  font-style: italic;
  font-weight: 300;
  margin-bottom: .75rem;
}

.description {  
  white-space: pre-line;
}