.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-background);
    z-index: -1;
  }
}

.line {
  width: 15px;
  height: 25px;
  background-color: var(--color-grayed);
  margin: 0 5px;
  animation: pulsate 1.5s infinite;
  border-radius: 4px;

  &:nth-child(1) {
    animation-delay: .1s;
  }
  &:nth-child(2) {
    animation-delay: .2s;
  }
  &:nth-child(3) {
    animation-delay: .25s;
  }
}

@keyframes pulsate {
  0% {
    height: 25px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 25px;
  }
}




