.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}

.techStackItem {
  border: 1px solid transparent;
  background-color: var(--color-background);
  padding: 8px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  border-radius: .5rem;
  font-weight: 300;
}