.employmentStatus {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: 1em;
  background-color: var(--color-backdrop);
  padding: .75em;
  border-radius: 2em;
}