@import '/src/components/00.Globals/breakpoints.scss';

.projectsList {
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1em;
  list-style: none;
  padding: 0 0 1.5rem;
}

.projectItem {
  z-index: 2;
  border-radius: 0.5em;
  transition: background-color .2s ease;
  box-shadow: 0 0 0 1px rgba(black, .03), 0 2px 4px rgba(black, .05), 0 12px 24px rgba(black, .05);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255,255,255);
    //background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 60%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .dateOfCreation {
    font-weight: 300;

    a {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      font-size: 1.15em;
    }

    svg {
      vertical-align: bottom;
      margin-right: .5em;
    }
  }
}

.projectItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .75rem;
  overflow: hidden;
  justify-content: flex-end;

  h4 {
    margin-bottom: .5em;
  }

  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
}

.wrapper {
  padding: 2em;
  grid-area: 1 / 1 / 2 / 4;
  position: relative;
  
  &:before {
    content: "";
    z-index: 1;
    width: 11px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -23px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0idmlzdWFsIiB2aWV3Qm94PSIwIDAgMTEgMTAwIiB3aWR0aD0iMTEiIGhlaWdodD0iMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiPjxwYXRoIGQ9Ik04IDBMOCAwTDggNEw4IDRMOCA5TDggOUw4IDEzTDYgMTNMNiAxN0w0IDE3TDQgMjJMNiAyMkw2IDI2TDUgMjZMNSAzMEw2IDMwTDYgMzVMOCAzNUw4IDM5TDcgMzlMNyA0M0w1IDQzTDUgNDhMNSA0OEw1IDUyTDcgNTJMNyA1N0w1IDU3TDUgNjFMOCA2MUw4IDY1TDYgNjVMNiA3MEw4IDcwTDggNzRMOCA3NEw4IDc4TDggNzhMOCA4M0w3IDgzTDcgODdMNCA4N0w0IDkxTDggOTFMOCA5Nkw0IDk2TDQgMTAwTDAgMTAwTDAgOTZMMCA5NkwwIDkxTDAgOTFMMCA4N0wwIDg3TDAgODNMMCA4M0wwIDc4TDAgNzhMMCA3NEwwIDc0TDAgNzBMMCA3MEwwIDY1TDAgNjVMMCA2MUwwIDYxTDAgNTdMMCA1N0wwIDUyTDAgNTJMMCA0OEwwIDQ4TDAgNDNMMCA0M0wwIDM5TDAgMzlMMCAzNUwwIDM1TDAgMzBMMCAzMEwwIDI2TDAgMjZMMCAyMkwwIDIyTDAgMTdMMCAxN0wwIDEzTDAgMTNMMCA5TDAgOUwwIDRMMCA0TDAgMEwwIDBaIiBmaWxsPSIjZmZmZmZmIj48L3BhdGg+PC9zdmc+");
  }

  @include md {
    grid-area: 1;
    padding: 1em;
  }
}

.projectBackground {
  padding: 2em;
  grid-area: 1 / 4 / 2 / 6;
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .8;
    transform: scale(1.5);
    transform-origin: right;
  }

  @include md {
    display: none;
  }
}

.heading {
  display: block;
  margin-bottom: 1.5em;
}

.content {
  max-width: 500px;
}