.fadeUp {
  animation: fadeUpAnimation cubic-bezier(0, 1.00, 0.68, 0.9) forwards;
  animation-duration: 400ms;
  opacity: 0;

  @keyframes fadeUpAnimation {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.delay {
  &-10 {
    animation-delay: 100ms;
  }

  &-20 {
    animation-delay: 200ms;
  }

  &-30 {
    animation-delay: 300ms;
  }

  &-40 {
    animation-delay: 400ms;
  }

  &-50 {
    animation-delay: 500ms;
  }
}